/* styles for the Chaos Hud */
@use '../config' as *;

Hud,
#PopupManager,
#TooltipManager,
#ContextMenuManager {
	width: 100%;
	height: 100%;
}

.hud-blur {
	width: 100%;
	height: 100%;
	-s2-mix-blend-mode: opaque;
	blur: fastgaussian(4, 4, 5);
}

#HudTopLeft {
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

#HudNotify {
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

#HudTopCenter {
	horizontal-align: center;
	width: 100%;
	opacity: 1;
	flow-children: down;
}

#HudBottomCenter {
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 45%;
	opacity: 1;
	flow-children: down;
}

#HudLowerLeft {
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: down;
}

#HudTopRight {
	horizontal-align: right;
	vertical-align: top;
	flow-children: down;
}

#HudCenter {
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
}

#HudBottomRight {
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
}

#HudInWorld,
#HudReticle {
	width: 100%;
	height: 100%;
}

// NEW

#HudHealthCharge
{
	color: $bright-color;
	font-family: $font-header;
	font-size: 60px;
	font-weight: 'bold';
	text-shadow: 0px 0px 50px 1.0 #000000;
	margin-bottom: 5%;
	margin-left: 6%;
	flow-children: down;

	border: 2px solid #2b2b2b86;
	border-radius: 5px;
	vertical-align: center;
	background-color: #303030ad;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.PanoHeader
{
	font-weight: 'bold';
	font-size: 14px;
}

.Hidden
{
	visibility: collapse;
}
